:root {
  font-family: "Sour Gummy", Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  /* High contrast for accessibility */
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}*/

a:hover,
a:focus-visible {
  /*color: #0033cc;
  text-decoration: underline;*/
  outline: 3px solid #000000;
  /* For example: black outline for buttons in Drawer*/

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #000000;
  padding-top: 55px;
  /*display: flex;
  place-items: center*/
}

h1,
h2,
h3 {
  margin: 1em 0 0.5em 0;
}

button {
  border-radius: 6px;
  border: 2px solid #000000;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;

  background-color: #ffffff;
  color: #000000;

  cursor: pointer;
}

button:hover {
  background-color: #f2f2f2;
}

/*button:focus-visible {
  outline: 3px solid #000000;
}*/

/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #0b15d3;
  }

  button {
    background-color: #f9f9f9;
  }
}*/