.drawer {
    position: fixed;
    top: 0;
    left: -300px;
    /* hidden initially */
    width: 250px;
    height: 100vh;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.drawer.open {
    left: 0;
    /* visible */
}

.closeButton {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 1rem;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    margin-bottom: 0.3rem;
    transition: background-color 0.2s;
    font-size: 1.5rem;
    gap: 1.5rem;
}

.menuItem:hover,
.closeButton:hover {
    background-color: #ddd;
}

.active {
    font-weight: bold;
    background-color: #ccc;
}

.icon img {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tablet */
@media (max-width: 1024px) {
    .drawer {
        width: 220px;
        padding: 0.8rem;
    }

    .menuItem {
        font-size: 1.3rem;
        gap: 1rem;
    }

    .icon img {
        width: 1.8rem;
        height: 1.8rem;
    }
}

/* Small Tablet */
@media (max-width: 768px) {
    .drawer {
        width: 200px;
        padding: 0.5rem;
    }

    .menuItem {
        font-size: 1.2rem;
        gap: 0.8rem;
    }

    .icon img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

/* Mobile */
@media (max-width: 570px) {
    .drawer {
        width: 180px;
        padding: 0.5rem;
    }

    .menuItem {
        font-size: 1rem;
        gap: 0.5rem;
    }

    .icon img {
        width: 1.2rem;
        height: 1.2rem;
    }
}