.drawer {
    position: fixed;
    top: 0;
    left: -19rem;
    width: 16rem;
    height: 100vh;
    height: 100dvh;
    background-color: #f4f4f4;
    box-shadow: 0.4rem 0 0.6rem rgba(0, 0, 0, 0.2);
    padding: 1rem;
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.drawer.open {
    left: 0;
    /* visible */
}

.closeButton {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 1em;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 0.7em 0.5em;
    text-decoration: none;
    color: #333;
    border-radius: 0.2em;
    margin-bottom: 0.2em;
    transition: background-color 0.2s;
    font-size: 1.5em;
    gap: 1em;
}

.menuItem:hover,
.closeButton:hover {
    background-color: #ddd;
}

.active {
    font-weight: bold;
    background-color: #ccc;
}

.icon img {
    width: 1.4em;
    height: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}