h1 {
    text-align: center;
}

/*Home navigation buttons*/

.home-actions {
    font-size: 1.3rem;
}

.home-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.3em 1em;
    border-radius: 2em;
    border: 0.2em solid #000;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

a.home-button:hover,
a.home-button:focus-visible {
    border-color: #0033cc;
    outline: none;
    box-shadow: 0 0 0 0.2em rgba(22, 72, 221, 0.615);
}


ul.home-buttons {
    display: flex;
    gap: 1em;
    list-style: none;
    padding: 0;
    margin-top: 1em;
}

.home-button img {
    width: 1.2em;
    height: 1.2em;
    object-fit: contain;
}

/*Supported Languages section*/

.list-languages {
    display: block;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    font-size: 1rem;
}

.list-languages ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1em;
}

.list-languages li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    height: 2.5em;
    border-radius: 2em;
    border: 0.2em solid #000000;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0.2rem;
    gap: 0.5rem;
}

.list-languages li img {
    width: 2em;
    height: 2em;
    object-fit: contain;
}

/*Info section*/

.info-section {
    font-size: 1.3rem;
}

.info li {
    margin: 0.5em;
}

.highlight {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7em;
    height: 1.5em;
    border-radius: 10%;
    border: 0.2em solid #0033cc;
    font-weight: bold;
    text-decoration: none;
    margin: 0.2em;
}

@media (max-width: 64em) {
    html {
        font-size: 20px;
    }

    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    ul.home-buttons {
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 40em) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 21em) {
    html {
        font-size: 13px;
    }
}