.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    gap: 1rem;
    height: 4rem;
    padding: 0 1rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    z-index: 1000;
}

.menuButton {
    position: absolute;
    font-size: 1.1em;
    background: none;
    border: none;
    cursor: pointer;
    left: 0.1em;
}

img {
    width: 2.5em;
    height: 2.5em;
}

.account {
    position: absolute;
    margin: 0;
    right: 1em;
}

.menuButton,
.account {
    font-size: 1.5em;
}