.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    gap: 1rem;
    height: 65px;
    padding: 0 1rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    z-index: 1000;
}

.menuButton {
    position: absolute;
    font-size: 1.1rem;
    background: none;
    border: none;
    cursor: pointer;
    left: 0.1rem;
}

img {
    width: 40px;
    height: 40px;
}

.account {
    position: absolute;
    font-size: 1.1rem;
    margin: 0;
    right: 1rem;
}

.menuButton,
.account {
    font-size: 1.5rem;
}

/* Tablet - max 1024px */
@media (max-width: 1024px) {
    .header {
        padding: 0 0.8rem;
        gap: 0.8rem;
    }

    img {
        width: 5vw;
        height: 5vw;
    }

    .menuButton,
    .account {
        font-size: 1.5rem;
    }
}

/* Small Tablet - max 768px */
@media (max-width: 768px) {
    .header {
        padding: 0 0.5rem;
        gap: 0.5rem;
    }

    img {
        width: 6vw;
        height: 6vw;
    }

    .menuButton,
    .account {
        font-size: 1.4rem;
    }
}

/* Mobile - max 570px */
@media (max-width: 570px) {
    .header {
        height: 55px;
        padding: 0 0.5rem;
        gap: 0.3rem;
    }

    img {
        width: 9vw;
        height: 9vw;
    }

    .menuButton,
    .account {
        font-size: 1.4rem;
    }
}