.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1rem;
    height: 65px;
    padding: 0 1rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.menuButton {
    position: absolute;
    font-size: 1.1rem;
    background: none;
    border: none;
    cursor: pointer;
    left: 1rem;
}

.title {
    font-size: 1.1rem;
    margin: 0;
}

.account {
    position: absolute;
    font-size: 1.1rem;
    margin: 0;
    right: 1rem;
}