.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 65px;
    padding: 0 1rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.menuButton {
    font-size: 1.1rem;
    background: none;
    border: none;
    cursor: pointer;
}