.arrow-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    background: none;
    border: none;
    cursor: pointer;

    /* fade effect
    opacity: 1;
    transform: translateY(10px);
    transition: transform 0.3s ease;
    animation: fadeInArrow 0.6s forwards;*/
}

.arrow-button:hover,
.arrow-button:focus-visible {
    opacity: 1;
    outline: 4px solid #005fcc;
}

.arrow-button.up img {
    transform: rotate(180deg);
}

.arrow-button img {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.5rem;
}

.arrow-label {
    font-size: 0.9rem;
    color: #005fcc;
    text-align: center;
    max-width: 120px;
}

@keyframes fadeInArrow {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-height: 730px) and (max-width: 1024px) {
    .arrow-button {
        margin: 0.4rem;
    }
}