.ui-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* screen-reader-only text */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.ui-input {
    display: block;
    font-family: "Sour Gummy", Arial, sans-serif;
    height: 4rem;
    border: 0.5rem solid #484747;
    border-radius: 1rem;
    text-align: center;
    background: transparent;
    outline: none;
    transition: border-color 0.3s ease;
    padding: 0.5rem 0.5rem;
}

.ui-input:hover,
.ui-input:focus {
    transform: translateY(-20);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    outline: none;
    border-color: #0033cc;
}

/* Small size for article input */
.ui-input-small {
    width: 100%;
    font-size: 1.5rem;
    border: 0.25rem solid #595555;
    box-sizing: border-box;
    border-radius: 0.7rem;
}

.ui-input-small::placeholder {
    font-size: 1.5rem;
}

.ui-input-small:hover,
.ui-input-small:focus {
    border: 0.25rem solid #0033cc;
}

.ui-input-large {
    width: 90%;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.ui-input-large::placeholder {
    font-size: 2rem;
}

.ui-input-middle {
    width: 50%;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    align-self: flex-start;
}

.ui-input-middle::placeholder {
    font-size: 1.8rem;
}