.ui-input-wrapper {
    display: flex;
    flex-direction: column;
}

/* screen-reader-only text */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.ui-input {
    font-family: "Sour Gummy", Arial, sans-serif;
    height: 4rem;
    border: 8px solid #484747;
    border-radius: 1rem;
    text-align: center;
    background: transparent;
    outline: none;
    transition: border-color 0.3s ease;
    padding: 0.5rem 0.5rem;
}

.ui-input:hover,
.ui-input:focus {
    transform: translateY(-20);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    outline: none;
    border-color: #0033cc;
}

.ui-input::placeholder {
    color: #504f4f;
    font-size: 1.5rem;
    text-align: center;
}

/* Small size for article input */
.ui-input-small {
    width: 100%;
    font-size: 1rem;
    border: 4px solid #595555;
    box-sizing: border-box;
    border-radius: 0.7rem;
}

.ui-input-small::placeholder {
    font-size: 1rem;
}

.ui-input-small:hover,
.ui-input-small:focus {
    border: 4px solid #0033cc;
}

.ui-input-large {
    width: 22ch;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.ui-input-middle {
    width: 7ch;
    font-size: 2rem;
    margin-bottom: 1rem;
}