.ui-select-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.ui-select-label {
    font-weight: 500;
}

.ui-select-container {
    position: relative;
    display: inline-block;
}

.ui-select {
    font-family: "Sour Gummy", Arial, sans-serif;
    width: 15ch;
    padding: 0.8rem 2.5rem 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: 4px solid #595555;
    appearance: none;
    background-color: white;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    background-image: url("../../assets/interface/arrow_down.svg");
    background-repeat: no-repeat;
    background-position: right 0.9rem center;
    background-size: 16px;
}

.ui-select:focus {
    outline: none;
    border-color: #0033cc;
}